<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Calorie Counter{% endblock %}
    </title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="min-h-screen bg-orange-50 text-gray-900">

       {% include "navbar.html" %}

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer class="mt-16 bg-gray-900 py-6 text-center text-gray-400">
        <p>
            © 2026 Calorie Counter. Built with Django.
        </p>
    </footer>

</body>
</html>